body {
font-family: 'Times New Roman', Times, serif;
margin: 20px;
padding: 0;
background-color: rgb(155, 145, 145);
}
h1 {
    text-align: center;
    color: rgb(92, 51, 51);
}
form {
    max-width: 600px;
    margin: auto;
    background-color: rgb(94, 78, 78);
    border-radius: 8px;
    box-shadow: 0 4px rgba (0, 0 , 0, 0.5);
    padding: auto;
}
fieldset {
    border: 2px solid rgb(59, 28, 28);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(97, 49, 49);
}
legend{
    font-weight: bold;
    text-align: center;
    color: rgb(29, 8, 8);
}
label {
    display: block;
    margin-top: 10px;
    color: rgb(34, 13, 13);
}
input, textarea {
    width: calc(100%-1px);
    padding: auto;
    margin-top: 4px;
    border: 1px solid rgb(66, 36, 36);
border-radius: 4px;
box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(146, 78, 78);
    color: rgb(48, 33, 33);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover {
    background-color: rgb(92, 49, 49);
}